.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
    padding: 5px 5px 20px;
    border: 1px solid #e2e2e2;
    text-align: center;
}
.woocommerce ul.products li.product:hover, 
.woocommerce-page ul.products li.product:hover{
    border-color: var(--theme-primary-color);
}
.woocommerce + .entry-footer{
    display: none;
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
    background-color: #000;
}

.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2{
    max-width: inherit;
}

.woocommerce-input-wrapper,
.woocommerce form .form-row label,
.woocommerce form .password-input, 
.woocommerce-page form .password-input{
    width: 100%;
}

.woocommerce span.onsale{
    z-index: 2;
    padding: 0;
}

.woocommerce ul.products li.product .price ins,
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins{
    margin-left: 8px;
    text-decoration: none;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins,
.woocommerce div.product p.price del, 
.woocommerce div.product span.price del{
    color: #404040;
    font-weight: 600;
    font-size: 16px;
}

.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt{
    background-color: rgba(var(--r), var(--g), var(--b), .8);
    padding: 1.1em 1em;
}
.woocommerce button.button.alt:hover{
   padding: 1.1em 1em; 
}

.woocommerce ul.products li.product .button.add_to_cart_button, 
.woocommerce ul.products li.product .button.product_type_grouped, 
.woocommerce ul.products li.product .button.product_type_simple, 
.woocommerce ul.products li.product .button.product_type_external, 
.woocommerce ul.products li.product .button.product_type_variable, 
.main-content.shop .product .button.add_to_cart_button, 
.main-content.shop .product .button.product_type_grouped, 
.main-content.shop .product .button.product_type_simple, 
.main-content.shop .product .button.product_type_external, 
.main-content.shop .product .button.product_type_variable {
    background-color: rgba(var(--r), var(--g), var(--b), .8);
    border: 2px solid rgba(var(--r), var(--g), var(--b), .1);
    color: #fff;
}
.woocommerce ul.products li.product .button:hover, 
.woocommerce ul.products li.product .button:focus,  
.main-content.shop .product .button:hover, 
.main-content.shop .product .button:focus {
	background-color: rgba(var(--r), var(--g), var(--b), 1);
    border: 2px solid rgba(var(--r), var(--g), var(--b), 1);
}
.woocommerce ul.products li.product .button.add_to_cart_button, 
.woocommerce ul.products li.product .button.product_type_simple {
    background-color: rgba(var(--r), var(--g), var(--b),.8);
    border: 2px solid rgba(var(--r), var(--g), var(--b),.1);
}
.woocommerce ul.products li.product .button.add_to_cart_button:hover, 
.woocommerce ul.products li.product .button.add_to_cart_button:focus, 
.woocommerce ul.products li.product .button.product_type_simple:hover, 
.woocommerce ul.products li.product .button.product_type_simple:focus {
    background-color: rgba(var(--r), var(--g), var(--b),1);
    border: 2px solid rgba(var(--r), var(--g), var(--b),1);
}

.woocommerce div.product form.cart .button:hover, 
.woocommerce div.product form.cart .button:hover {
	background: var(--theme-primary-color);
}
.woocommerce table.shop_table td.product-name, 
.woocommerce table.shop_table td.product-name a {
	color: var(--theme-primary-color);	
}
.product_meta .posted_in a:hover, 
.product_meta .tagged_as a:hover {
	color: var(--theme-primary-color);
}
.woocommerce #review_form #respond .form-submit input:hover {
    background: var(--theme-primary-color);
}

.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button, 
.woocommerce-page .woocommerce-error .button, 
.woocommerce-page .woocommerce-info .button, 
.woocommerce-page .woocommerce-message .button,
.woocommerce span.onsale {
    background-color: var(--theme-primary-color);
}

.woocommerce table.shop_table td.product-name a:hover, 
.woocommerce table.shop_table td.product-subtotal .woocommerce-Price-amount {
	color: var(--theme-primary-color);	
}
.woocommerce-cart table.cart td.actions .coupon button.button:hover {
	background: var(--theme-primary-color);
    color: #fff;	
}
.woocommerce-cart table.cart td.actions button.button {
	background: var(--theme-primary-color);
    color: #fff;
}
#add_payment_method .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button, 
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit, 
.woocommerce button.button.woocommerce-Button {
	background-color: var(--theme-primary-color);
    color: #fff;
}
.checkout_coupon.woocommerce-form-coupon .form-row button.button:hover {
	background-color: var(--theme-primary-color);
}
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
    background-color: var(--theme-primary-color);
}
/*WooCommerce Widgets*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: var(--theme-primary-color);
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    background-color: var(--theme-primary-color);
}
.woocommerce-mini-cart__buttons.buttons a.button, 
.widget .woocommerce-mini-cart__buttons.buttons a.button:hover, 
.widget .woocommerce-mini-cart__buttons.buttons a.button:focus {
	background-color: var(--theme-primary-color);
	color: #fff;
}
/*WooCommerce Pagination*/
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
	background-color: var(--theme-primary-color);
    border: 1px solid var(--theme-primary-color);
    color: #fff;
}

/*Account Dashboard*/
.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link {
    list-style: none;
    background-color: #e4e4e4;
    border: 1px solid #ffffff;
    padding: 10px 20px;
}

/*Sidebar Products*/
.woocommerce ul.cart_list li img, 
.woocommerce ul.product_list_widget li img {
    float: left;
    margin-left: 0;
    width: 70px;
    border: 1px solid #e4e4e4;
    margin-right: 10px;
}

/*Buttons*/
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
    padding: 13px 20px;
    color: #fff;
    background-color: var(--theme-primary-color);
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
    background-color: #000;
}
.woocommerce #respond input#submit{
    margin-top: 30px;
}

/*Filters*/
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: rgb(226, 226, 226);
}

.widget_product_search [type="search"] {
    width: 68%;
}

.woocommerce-info::before {
    color: var(--theme-primary-color);
}
.woocommerce-info {
    border-color: var(--theme-primary-color);
}

span.posted_in {
    display: block;
}

/*Rating*/
.woocommerce ul.cart_list li .star-rating, 
.woocommerce ul.product_list_widget li .star-rating {
    color: #ffc934;
}